$primaryColor: #FF0000;

body {
  font-family: Verdana;
  font-size: 1.5em;
  h1 {
    color: $primaryColor;
  }
}

@mixin image-height-width($hw) {
  width: $hw;
  height: $hw;
}

#team-members {
  clear: both;

  .member {
  float: left;
  /*border: 1px solid gray;*/
  margin: 10px;
  padding: 6px;
}

  .member img {
  @include image-height-width(200px);
}

  .member div.name {
  text-align: center;  
}
}



